{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {},
    "globals": {
        "require": false,
        "describe": false,
        "it": false,
        "beforeEach": false,
        "afterEach": false,
        "module": false,
        "console": false,
        "global": false,
        "exploreFunction": false,
        "exploreApi": false,
        "exploreValue": false,
        "runQuokkaMochaBdd": false,
        "signet": false,
        "signetAssembler": false,
        "esprima": false,
        "window": false
    }
}